.bg-verde{
    background-color: #e5fae9;
}

.bg_card{
    background-color: green;
    color: white;
}
.card{
    border-color:rgb(245, 249, 252) ;
 }
h5{
   color: white;
   background-color: green;
 }    
body{
   background-color: rgb(245, 249, 252);
 }
 .card{
   background-color: rgb(245, 249, 252);
 }
 a{
    text-decoration: none;  
 }

 .bg-verde{
    background-color:#e5fae9;
 }

 .accordion h2{
    font-weight: bold;
    color: #306acb;
 }